<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
<meta charset="UTF-8" />
<title th:text="'Moje pjesme'"></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

</head>

<body>
	<div layout:fragment="content">

		<div class="container">
			<br> <br>
			<div class="row">
				

				<div class="col-8">
					<h1>Moje pjesme</h1>
				</div>
				<div class="col-4">
					<a th:href="@{/song/newSong}"
						class="btn btn-lg btn-outline-info float-right"
						data-toggle="tooltip" data-placement="top"
						title="Dodaj novu pjesmu" id="addNewSongBtn"> Nova pjesma <i class="fas fa-plus"></i></a>
				</div>

			</div>
			<div th:if="${deleteSuccess}">
				<br> <br>
				<div class="alert alert-success alert-dismissable">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
					Pjesma je uspješno obrisana.
				</div>
			</div>
			<div th:if="!${songsExists}">
				<br> <br>
				<div class="alert alert-warning alert-dismissable">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
					Ne postoji nijedna pjesma u tvojoj kolekciji pjesama. Dodaj novu
					pjesmu.
				</div>
			</div>


			<br> <br>
			<div class="list-group" th:each="song : ${songs}">
				<a class="list-group-item list-group-item-action"
					th:utext="${song.name + ', (' + song.songKey.name + ')' }"
					th:href="@{/song/details(id=${song.id})}">
					
				</a>
				<form id="deleteSongForm" method="GET"
					th:action="@{/song/deleteSong/{id}(id=${song.id})}">
					<!-- 
					<button type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#deleteSonglModal'+${song.id}">
					 <i class="fa fa-trash" aria-hidden="true" style="font-size: 2em;"></i>
					</button>
					<div class="modal fade" th:id="deleteSongModal+${song.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
						style="margin-top: 10vh">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" th:text="'Brisanje pjesme'"></h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="'Odustani'">
							          <span aria-hidden="true">&times;</span>
							        </button>
								</div>
								<div class="modal-body">
									<p th:text="'Jeste li sigurni da želite obrisati pjesmu?'"></p>
								</div>
								<div class="modal-footer">
									<input type="submit" style="cursor: pointer"
										class="btn btn-outline-info" th:value="'Obriši'" /> <a
										href="#" class="btn btn-outline-warning" data-dismiss="modal"
										th:text="'Odustani'"></a>
								</div>
							</div>
						</div>
					</div>
					-->
					
					
					
					<!-- <a href="#" data-toggle="modal"
						th:attr="data-target='#deleteSonglModal'+${song.id}" data-target="#deleteSonglModal"> 
						<i class="fa fa-trash" aria-hidden="true" style="font-size: 2em;"></i>
					</a> 

					<div th:replace="fragments/modal :: deleteSongModal"></div>-->



					<!-- Button trigger modal -->
				 	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteSonglModal">
					 <i class="fa fa-trash" aria-hidden="true" style="font-size: 2em;"></i>
					</button>
				
					<!-- Modal -->
					<div class="modal fade" id="deleteSonglModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">Brisanje pjesme</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        <p>Jeste li sigurni da želite obrisati pjesmu?</p>
					      </div>
					      <div class="modal-footer">
						      <input type="submit" style="cursor: pointer"
											class="btn btn-outline-info" th:value="'Obriši'" /> <a
											href="#" class="btn btn-outline-warning" data-dismiss="modal"
											th:text="'Odustani'"></a>
					        <button type="button" class="btn btn-primary">Obriši</button>
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
					      </div>
					    </div>
					  </div>
					</div>
				</form>

	
			</div>
		</div>



		<!-- Additional scripts -->
		<div th:replace="fragments/scripts :: markdownScripts"></div>
		<script>
		</script>
	</div>
</body>

</html>